<%- include('../userIncludes/header') %>
    </head>

    <body>
        <%- include('../userIncludes/nav') %>

            <div class="" style="height: 90vh ;">

                <div class="container">
                    <div class="d-flex justify-content-center align-items-center vh-100 flex-column ">
                        <h5 class="mb-5">Empty Wishlist</h5>
                        <img src="/userStatic/assets/img/Anonymous-Package.svg" alt="" class="img-fluid" srcset=""
                            style="max-width: 500px;">
                    </div>

                </div>

            </div>






            <%- include('../userIncludes/footer') %>


                <%- include('../userIncludes/bodyEnd') %>