<%- include('../userIncludes/header') %>

    <link rel="stylesheet" href="/commonStatic/registerCSS.css">
    </head>

    <body>


        <section class="h-100 h-custom"
            style="background-image: url('/userStatic/assets/img/josh-calabrese-XXpbdU_31Sg-unsplash.jpg');">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card rounded-3" style="background-color:whitesmoke">
                            <img src="/userStatic/assets/img/userSignInSignUpBanner.png" class="w-100"
                                style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                                alt="Sample photo">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">LOGIN</h3>

                                <form class="px-md-2" action="/login" method="post">
                                    <% for(eachErrMsg of validation) { %>

                                        <p class="border p-2 bg-danger rounded text-light">
                                            <%=eachErrMsg %>
                                        </p>

                                        <% } %>

                                            <!-- <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Name</label>
                  <input type="text" id="form3Example1q" class="form-control" />
                </div> -->
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="mobileNumber">Mobile Number</label>
                                                <input type="text" id="mobileNumber" name="loginNumber"
                                                    value="7012429812" class="form-control" />
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="text" id="password" name="loginPassword" value="123"
                                                    class="form-control" />
                                            </div>



                                            <div class="">
                                                <button type="submit" class="btn btn-success  mb-1 ">Login</button>
                                                <p>Don't have an Account? <span><a href="/register">Register</a></span>
                                                </p>
                                            </div>

                                </form>

                            </div>
                        </div>
                        <a href="/">DECOR</a>
                    </div>
                </div>
            </div>
        </section>





        <%- include('../userIncludes/bodyEnd') %>