<%- include('../userIncludes/header') %>
</head>
<body>
<%- include('../userIncludes/nav') %>

<div class="" style="height: 90vh ;">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center vh-100 ">
            <h1 class="mx-auto  mb-5">Wishlist</h1>

        </div>
    </div>

</div>






<%- include('../userIncludes/footer') %>


<%- include('../userIncludes/bodyEnd') %>