<%- include('../adminIncludes/adminHeader') %>

    <section class="vh-100" style="background-color: gainsboro;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">

                        <form action="/admin" method="post">
                            <div class="card-body p-5 ">

                                <h3 class="mb-5">DECOR --- ADMIN LOGIN</h3>

                                <div class="form-outline mb-4">
                                    <input type="email"  name="adminMail" value="admin@gmail.com"
                                        class="form-control form-control-lg " required />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" placeholder="Password" value="123" name="adminPassword"
                                        class="form-control form-control-lg" required />
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>

    </html>