<%- include('../adminIncludes/adminHeader') %>

    <div id="app">
        <%- include('../adminIncludes/sidebar') %>

            <div id="main">
                <div class="page-heading">

                    <h1>
                        Coupons
                    </h1>



                </div>
            </div>